@import "tailwindcss";


body{
  background-color: #fdf8f5;
}
.navbar{
  background-image: linear-gradient(to bottom right, #056973, #0fc9db);
}
.olive-dark{
  color:  #056973;
}
.bg-olive{
    background-color:  #056973;
}
.btn-white, .btn-purple{
  transition:all ease 0.2s;
  display: inline-block;
}
.btn-white:hover{
  transform: scale(1.01);
  box-shadow:0 0 10px rgba(255, 255, 255, 0.6);
  text-shadow:0 0 10px rgba(255, 255, 255, 0.6);
}
.btn-purple{
  border-color: #056973;
}
.btn-purple:hover{
    transform: scale(1.01);
  box-shadow:0 0 10px#056973;
  text-shadow:0 0 10px #056973;
}

@keyframes fadeInBlink{
  0%{
    opacity: 0;
    transform: scale(0.95);
  }
  50%{
    opacity: 1;
    transform: scale(1.05);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-blink {
  animation: fadeInBlink 1.3s ease-in forwards;
}

onTop::hover{
  background-color: white;
}

@keyframes fillRight {
  0%   { clip-path: inset(0 100% 0 0); }
  50%  { clip-path: inset(0 0 0 0); }
  100% { clip-path: inset(0 0 0 100%); }
}

@keyframes fillLeft {
  0%   { clip-path: inset(0 0 0 100%); }
  50%  { clip-path: inset(0 0 0 0); }
  100% { clip-path: inset(0 100% 0 0); }
}

.animate-fill-right {
  animation: fillLeft 1s forwards ease-in-out;
}

.animate-fill-left {
  animation: fillRight 1s forwards ease-in-out;
}

.bid-btn {
  background: linear-gradient(90deg, #056973, #41b8c4, #73eefa);
  background-size: 200% 200%;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.bid-btn:hover {
  animation: gradientMove 0.5s forwards;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

@keyframes gradientMove {
  0% { background-position: 0% 30%; }
  50% { background-position: 30% 40%; }
  100% { background-position: 40% 50%; }
}

