@import "tailwindcss";


body{
  background-color: #e4eea1;
}
.navbar{
  background-image: linear-gradient(to bottom right, rgb(147, 147, 19), rgb(92, 92, 3));
}
.olive-dark{
  color:  rgb(92, 92, 3);
}
.btn-white, .btn-purple{
  transition:all ease 0.2s;
  display: inline-block;
}
.btn-white:hover{
  transform: scale(1.01);
  box-shadow:0 0 10px rgba(255, 255, 255, 0.6);
  text-shadow:0 0 10px rgba(255, 255, 255, 0.6);
}
.btn-purple:hover{
    transform: scale(1.01);
  box-shadow:0 0 10px rgba(113, 141, 5, 0.6);
  text-shadow:0 0 10px rgba(113, 141, 5, 0.6);
}

@keyframes fadeInBlink{
  0%{
    opacity: 0;
    transform: scale(0.95);
  }
  50%{
    opacity: 1;
    transform: scale(1.05);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-blink {
  animation: fadeInBlink 1.3s ease-in forwards;
}

onTop::hover{
  background-color: white;
}

@keyframes fillRight {
  0%   { clip-path: inset(0 100% 0 0); }
  50%  { clip-path: inset(0 0 0 0); }
  100% { clip-path: inset(0 0 0 100%); }
}

@keyframes fillLeft {
  0%   { clip-path: inset(0 0 0 100%); }
  50%  { clip-path: inset(0 0 0 0); }
  100% { clip-path: inset(0 100% 0 0); }
}

.animate-fill-right {
  animation: fillLeft 1s forwards ease-in-out;
}

.animate-fill-left {
  animation: fillRight 1s forwards ease-in-out;
}
